#ifndef AB_WASM_MODULEBUILDER_HPP_
#define AB_WASM_MODULEBUILDER_HPP_

namespace Ab::Wasm {

class ModuleBuilder {
public:
	ModuleBuilder
};

} // namespace Ab::Wasm

#endif // AB_WASM_MODULEBUILDER_HPP_
