[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest
[submodule "external/omr"]
	path = external/omr
	url = https://github.com/eclipse/omr
	branch = master

[submodule "external/fmt"]
	path = external/fmt
	url = https://github.com/fmtlib/fmt.git
