#ifndef AB_INTERPRETER_HPP_
#define AB_INTERPRETER_HPP_

#include <Ab/Config.hpp>
#include <Ab/Address.hpp>
#include <Ab/Assert.hpp>
#include <Ab/Bytes.hpp>
#include <Ab/Func.hpp>

namespace Ab {

/// Handle to stack memory.
///
class Stack {
public:
	/// Default stack size.
	///
	static constexpr std::size_t DEFAULT_SIZE = kibibytes(8);

	Stack(std::size_t size) noexcept {
		address_ = new (std::nothrow) Byte[size];
		AB_ASSERT(address_ != nullptr);
	}

	Stack(const Stack&) = delete;

	Stack(Stack&& other) {
		address_       = other.address_;
		other.address_ = nullptr;
	}

	Stack() : Stack(DEFAULT_SIZE) {}

	~Stack() noexcept {
		if (address_ != nullptr) {
			delete[] address_;
		}
	}

	Byte* address() noexcept { return address_; }

	const Byte* address() const noexcept { return address_; }

	Stack& operator=(const Stack&) = delete;

private:
	Byte* address_;
};

enum class FrameKind : std::uint8_t {
	/// A top level call-in frame. native->interpreter.
	///
	NATIVE,

	/// A normal frame. interpreter->interpreter.
	///
	NORMAL,
};

/// Special 1-word struct embedded in the interpreter frame. Contains enough
/// information about the frame to identify it's type.
///
class FrameTag {
public:
	constexpr FrameTag(FrameKind k) : value_(std::uint32_t(k)) {}

	constexpr FrameTag(const FrameTag&) noexcept = default;

	constexpr std::uint32_t value() const noexcept { return value_; }

	constexpr FrameKind frame_kind() const noexcept { return FrameKind(value_); }

private:
	std::uint32_t value_;
};

/// Storage for saved-state embedded in the interpreter frame.
///
struct FrameSaveArea {
	Address ip;     ///< Saved instruction pointer.
	MutAddress sp;  ///< Saved stack pointer.
	FuncInst* fn;   ///< Saved function pointer.
};

/// Call-in / toplevel frame.
///
struct NativeFrame {
	NativeFrame() noexcept : tag(FrameKind::NATIVE) {}

	FrameSaveArea save_area;
	FrameTag tag;
};

/// An interpreter frame.
///
struct NormalFrame {
	NormalFrame() noexcept : tag(FrameKind::NORMAL) {}

	FrameSaveArea save_area;
	FrameTag tag;
};

/// Storage for saving machine registers at interpreter entry.
/// NOTE: THIS CLASS IS WIP AND NOT USED
///
struct EntrySaveArea {
	MutAddress sp;
	MutAddress bp;
};

/// The current state of execution in the virtual machine.
///
/// This is a global property that can be asked of the VM. Under normal circumstances, the vm will
/// be in the RUNNING state. When an uncaught exception or other error is triggered, the VM is
/// brought down and enters the ERRORED state.
///
/// If the virtual machine hasn't been fully initialized, possibly due to a startup error, the vm
/// will be in the UNDEFINED state.
///
/// After complete and successful execution of a program, the vm is placed into
enum class ExecCond { UNDEFINED, RUNNING, HALTED, TRAPPED, ERRORED };

enum class ExecAction { CRASH = 0, INTERPRET = 1, HALT = 2, EXIT = 3 };

/// Flags are runtime conditions located in secondary state.
///
struct Flags {
	bool trap;
	bool error;
};

/// Primary state is cached in the interpreter, and kept in registers if possible.
/// The state is only reflected back into the struct explicitly, when needed.
///
struct ExecStateA {
	const Byte* ip;
	Byte* sp;
	FuncInst* fn;
};

/// Secondary state is kept in memory and up-to-date. Frequently accessed data
/// should be placed in the primary state and cached in registers during execution.
/// Infrequently accessed state can be stored here.
///
struct ExecStateB {
	FuncInst* func;
	Byte* stack;
	ExecCond condition;
	Flags flags;
};

/// Interpreter state is divided into primary and secondary state.
/// primary state is frequently accessed, and typically cached in local registers.
/// Secondary state is less frequently accessed, and normally kept up to date in memory.
///
struct ExecState {
	ExecStateA st_a;  ///< primary execution state.
	ExecStateB st_b;  ///< secondary execution state.
	EntrySaveArea entry_save_area;
};

/// Blow away the execution state.
///
inline void clear(ExecState* state) {
	state->st_b.stack       = nullptr;
	state->st_b.func        = nullptr;
	state->st_b.flags.trap  = false;
	state->st_b.flags.error = false;
	state->st_b.condition   = ExecCond::HALTED;

	state->st_a.sp = state->st_b.stack;
	state->st_a.ip = nullptr;
	state->st_a.fn = nullptr;
}

class Interpreter;

using PrimitiveFn = void (*)(ExecState*);

void interpret(ExecState* state, FuncInst* func);

class Interpreter {
public:
	Interpreter();

	Interpreter(const Interpreter&) = delete;

	Interpreter(Interpreter&&) = default;

	~Interpreter();

	ExecState& exec_state() noexcept { return state_; }

	const ExecState& exec_state() const noexcept { return state_; }

	/// initialize interpreter state and execute interpreter.
	///
	void interpret(const Func* target);

private:
	ExecState state_;
	// Stack stack_;
};

}  // namespace Ab

#endif  // AB_INTERPRETER_HPP_
