#ifndef AB_XOPCODE_HPP_
#define AB_XOPCODE_HPP_

#include <cstddef>
#include <cstdint>

namespace Ab {

using RawXOpCode = std::uint8_t;

/// Internal operator codes.
enum class XOpCode : RawXOpCode {
@[ for operator in data.abx_operators ]
	/// @( operator.name ): @( operator.doc )
	@( operator.name | constify ) = @( "0x%02x" % operator.code )@( ",\n"  if not loop.last )
@[ endfor ]
};

template <XOpCode> constexpr const char* const XOPCODE_NAME = "unknown";
@[ for operator in data.abx_operators ]
	template <> constexpr const char* const XOPCODE_NAME<XOpCode::@( operator.name | constify )> = "@( operator.name )";
@[ endfor ]

}  // namespace Ab

#endif  // AB_XOPCODE_HPP_
